.Result {
  width: 20%;
  height: 100%;
  font-size: 20px;
  float: right;
  margin: 0.5%;
}
.Result-List {
  overflow: scroll;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2px;
  height: 930px;
}
.Result ul {
  padding: 10px;
}
.Result li {
  list-style: none;
  padding: 10px;
  line-height: 35px;
  border-bottom: #eee 1px solid;
}

.Result-Name {
  font-size: 20px;
}
.Result-Rate {
  font-size: 10px;
}
.Result-Category {
  font-size: 15px;
}
