.Map {
  width: 57%;
  height: 100%;
  font-size: 50px;
  float: left;
  margin: 0.5%;
}

.map-container {
  height: 700px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 2px;
  border-radius: 4px;
  font-size: small;
}

.marker {
  background-image: url('../../../public/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.Map-detail {
  color: aquamarine;
}
.Map-rate {
  font-size: 50px;
}
