.Map {
  width: 63%;
  height: 100%;
  font-size: 50px;
  float: right;
  margin: 0.5%;

  margin-right: 1.5%;
}

.map-container {
  height: 900px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 2px;
  border-radius: 4px;
  font-size: small;
}

.marker {
  background-image: url('../../../public/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.crimeMarker {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: radial-gradient(rgb(42, 5, 253), rgba(255, 255, 255, 0.233));
  opacity: 0.02;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.Map-detail {
  color: aquamarine;
}
.Map-rate {
  font-size: 50px;
}

.Map-popup {
  max-width: 95%;
}

.Map-weather {
  width: 14%;
  float: left;
  font-size: 10px;
}

.Map-weather > div {
  text-align: center;
}

.Map-weather img {
  height: 30px;
  width: 30px;
}

.Map-weather-max {
  color: rgb(161, 46, 46);
}
.Map-weather-min {
  color: rgb(25, 79, 160);
}
