.SearchBar {
  width: 100%;
  font-size: 50px;
}

.SearchBar-Name {
  width: 18%;
  float: left;
  margin-left: 1.5%;
  margin-bottom: 0%;
}

.SearchBar-ZipCode {
  width: 12%;
  float: left;
  margin-left: 2%;
  margin-bottom: 0%;
  margin-right: 10%;
}

/* CSS */
.ViewPlanner {
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-family: 'Avenir Next LT W01 Bold', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
  margin-right: 5%;
}

.ViewPlanner:hover,
.ViewPlanner:active {
  outline: 0;
}

.ViewPlanner:hover {
  background-color: transparent;
  cursor: pointer;
}

.ViewPlanner:before {
  background-color: #d5edf6;
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.ViewPlanner:hover:before {
  background-color: #bee5f5;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
