.SearchBar {
  width: 100%;
  font-size: 50px;
}

.SearchBar-Name {
  width: 18%;
  float: left;
  margin-left: 1.5%;
  margin-bottom: 0%;
}

.SearchBar-ZipCode {
  width: 12%;
  float: left;
  margin-left: 2%;
  margin-bottom: 0%;
  margin-right: 10%;
}

.ViewPlanner {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(18, 142, 173);
  padding: 17px 60px;
  float: right;
  margin-right: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.ViewPlanner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #f5e90b48;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.ViewPlanner:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.ViewPlanner span {
  position: relative;
  z-index: 1;
}
